@import "tailwindcss";

@theme {
    --font-sans: "Nunito Sans", sans-serif;

    /* Brand Colors */
    --color-brand: #0C4D94;
    --color-primary-blue: #0B6FDD;

    /* Backgrounds */
    --color-bg-main: #F5F7FA;
    --color-bg-secondary: #E7ECF3;
    --color-bg-white: #FAFAFA;

    /* Text */
    --color-text-main: #32383F;
    --color-text-secondary: #ABB6C3;
    --color-text-grey: #959595;
    --color-text-light-grey: #D6D6D6;

    /* Strokes */
    --color-stroke-grey: #D6D6D6;
    --color-stroke-focused: #605DEC;

    /* Status Config */
    --color-status-error-bg: #FFF5F5;
    --color-status-error-stroke: #FFD8D8;
    --color-status-validation-bg: #FFFBF4;
    --color-status-validation-stroke: #FFEAC1;

    /* Nuxt UI Overrides (Mapping Primary to Brand colors) */
    --color-primary-50: #F0F7FF;
    --color-primary-100: #E0EFFE;
    --color-primary-200: #BAE0FD;
    --color-primary-300: #7CC2FD;
    --color-primary-400: #36A2FB;
    --color-primary-500: var(--color-primary-blue);
    --color-primary-600: var(--color-brand);
    --color-primary-700: #093B74;
    --color-primary-800: #08325F;
    --color-primary-900: #0A294B;
    --color-primary-950: #061931;
}

/* Global Reset adjustments if needed */
html,
body {
    @apply bg-gray-950 text-gray-100 font-sans;
}